<div class="container">
  <h1><%=@broadcast %></h1>
  <p>Sign-Up:</p>
  
  <form action="/sign_up" method="POST">
    
    <input type="text" name="name" placeholder="name"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="sign me up!"><br><br>
  </form>

  <form action="/sign_in" method="POST">
    <p>Sign-In:<br>
      <input type="email" name="email" placeholder="email"><br>
      <input type="password" name="password" placeholder="password"><br>

      <input type="submit" value="login">
    </form>

  </div>
