
<!doctype html>
<html>
<head>
  <br>
  <form action="/logout" method="POST">
    <br>
    <center><input type="submit" value="too cute! log me out!"><br><br>
  </form>

  <br><br><br>
  <center> This is our secret site! </center><br><br><br>
</head>

<body>
  <br><br><br>
  <%  if session[:user_id] %> 
  <center> <img src="http://24.media.tumblr.com/tumblr_lonbx0W2Qm1qih6u3o1_500.jpg"></center>
  <% else %>
  <%= "NO IMAGE FOR YOU!" %>
  <% end %>
</body> 

</html>


