
<!doctype html>
<html>
<head>
</head>
  <body>
  <br>
  <form action="/logout" method="POST">
    <br>
    <center><input type="submit" value="too cute! log me out!"><br><br>
  </form>

  
<div class="container">
  <h1>Welcome to URL SHORTENER!</h1>

  <form action="/urls" method="POST">
     
      <p>Type in a title for this url:<br>
      <input type="text" name="url_title"><br>
       <p>Type in your url:</p>
      <input type="text" name="long_url"><br>
      <input type="submit" value="submit">
    </form>

    <table border="1">
      <% puts params.inspect %>
      <% locals[:all_urls].each do |entry|  %>
      <tr>
        <td>  <a href="<%=entry.short %>"><%= entry.name %></a>
        </td>
        <% end %>
      </tr>
    </table>

<br><br>
  <center> <img src="http://24.media.tumblr.com/tumblr_lonbx0W2Qm1qih6u3o1_500.jpg"></center>


  </div>


</body> 

</html>


